# Car Dealership Inventory System

## Work in Progress

### Completed Features

- Express backend setup
- React frontend setup
- MongoDB Atlas connection
- User Registration
- User Login
- JWT Authentication
- Jest & Supertest testing

### Testing

Backend test report:

backend/reports/test-report.md